@model Garage_ManagementFinal.recipt

@{
    ViewBag.Title = "SearchForm";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<h2>Search by Name</h2>

@using (Html.BeginForm("SearchFordate", "reciepts"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>recipt</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label for="searchPhrase">Start Date</label>
        <div class="col-md-5">
            <input type="date" name="searchPhrase" id="serchPhrase" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="searchPhrase2">End date</label>
        <div class="col-md-5">
            <input type="date" name="searchPhrase2" id="serchPhrase2" class="form-control" />
        </div>
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
